/*.output {
  display:none;
}*/

#output1 {
  display: none;
  padding: 0 30px;
}

#output2 {
  display: none;
  padding: 0 30px;
}

#output3 {
  display: none;
  padding: 0 30px;
}

h2 {
  font-style: italic;
  font-size: 0 30px;
}

.navbar-header {
  color: black;
  font-weight: bolder;
  font-size: 20px;
}

body {
  padding-top: 70px;
}

#gradient {
  background: linear-gradient(#8533ff, #e6e6e6);
}

img {
  max-width: 500px;
  max-height: 300px;
}

p {
  font-size: 20px;
}

footer {
  max-height: 20px;
}
